# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
test-env/
venv/

# Build / packaging
build/
dist/
*.egg-info/

# IDE/editor settings
.vscode/
.idea/
*.code-workspace

# Test and coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# PyPNM 
.data/
data/
output/*
pypnm-version-control/*
logs/*
backup/*
issues/*

#mkdocs
site/*

#security-checks
gitleaks-report.json